
#top-bar{
	width:100%;
	height:40px;
	background-color: #006bff;
    margin-bottom:60px;
}

.phone-list{
	width: auto;
	float: left;
	margin-top: 0px;
}
.logout-list{
	width: auto;
	float: right;
	margin-top: 0px;
}

li{
	display: inline-block;
	padding: 10px;
    color: #fff;
}

.phone{
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
}

.phone:hover{
	color: #F0C330;
	transition:0.5s;
}
.backBtn{
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
}

.backBtn:hover{
	color: #F0C330;
	transition:0.5s;
}
.logout{
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
}

.logout:hover{
	color: #F0C330;
	transition:0.5s;
}
.top-container{
  margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-right: 100px;
}